@page
@model ProjectParticipantManagementSystemWebClient.Pages.AdminPages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
}
<h1>Employee List</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-10">
        <form method="post" class="row">
                    <div class="form-group col-md-6" style="display: inline-block">
                        <label class="control-label">Search by customer name:</label>
                        <input asp-for="SearchString" class="form-control"/>
                    </div>
                    <div class="form-group col-md-6" style="display: inline-block; margin-top: 30px">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Email Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmployeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
